@model BlueModasSite.Models.Order

@{
    ViewData["Title"] = "Meu Carrinho";
}



<table class="table">

    <tr>
        <th>Produto</th>
        <th>Imagem</th>
        <th>Adicionar</th>
        <th>Remover</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model.orderItens)
    {

        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.product.Description)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.product.ImageBase64) height="80px" width="80px" />

            </td>
            <td style="vertical-align:middle">
                @Html.ActionLink(" + ", "AddItem", new { id = item.product.Id })
            </td>
            <td style="vertical-align:middle">
                @Html.ActionLink(" - ", "RemoveItem", new { id = item.product.Id })
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.product.Value)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }
    <tr>
        <td colspan="4"> Valor Total Produtos:</td>
        <td> @Html.DisplayFor(model => Model.Total)</td>
    </tr>



</table>

@using (Html.BeginForm("SaveOrder", "IdentifyClient", FormMethod.Post))
{
    <input type="submit" value="Finalizar Compra" />
}